.zh-list {
  width: 100%;
  /* border: 1px solid #ffff00; */
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  height: 100% !important;
}

@media all and (min-width: 375px) and (max-width: 576px) {
  .zh-list {
    display: flex;
    flex-direction: row-reverse;
  }
}

.zh-list:hover {
  background: #f5f7fa;
  /* border: 1px solid #dfc7c7; */
}

.list-left {
  /* width: 260px;
  height: 165px; */
  width: 34%;
  height: 30%;
  /* height: 90%;
  width: 90%; */
  border: 1px solid #eee;
  border-radius: 1rem;
  margin: 20px;
  overflow: hidden;
}

.list-left a img {
  /* width: 260px;
  height: 165px; */
  width: 100%;
  height: 100%;
  border-radius: 0.4rem;
  transition: 0.5s;
}

.list-left {
  perspective: 500px;
}

.zh-list:hover a img {
  transform: translateZ(15px);
}

.list-right {
  flex: 1;
  margin-right: 2rem;
  height: auto !important;
}

@media all and (min-width: 375px) and (max-width: 576px) {
  .list-right {
    margin-left: 1rem;
  }
}

.middle-list-item {
  margin-top: 1rem !important;
}

.middle-list-item > .ant-tag {
  padding: 0.2rem 0.5rem;
  border-radius: 0.2rem;
  font-size: 1rem;
  display: inline-block;
  background: #f5f7fa;
  border: 1px solid #f2f2f2;
  color: #555;
  cursor: pointer;
  transition: all 0.3s;
  margin-right: 1rem;
  margin-bottom: 1rem;
  line-height: 1.4rem;
}

.middle-list-item > .ant-tag span {
  color: #1890ff;
}

.middle-list-item > .ant-tag:hover {
  color: #ffff;
  background: #1890ff;
}

.middle-list-item > .ant-tag:hover span {
  color: #ffff;
}

.category-theme {
  border: 1px solid #1890ff;
  padding: 0.3rem 0.2rem;
  /* margin-bottom: 0.5rem !important; */
  border-radius: 0.3rem;
  vertical-align: middle;
}

@media all and (min-width: 375px) and (max-width: 768px) {
  .category-theme {
    font-size: 0.8rem;
    padding: 0.1rem 0.1rem;
  }
}

@media all and (min-width: 992px) and (max-width: 1200px) {
  .category-theme {
    font-size: 1rem;
    padding: 0.2rem 0.1rem;
  }
}

.list-theme {
  padding-left: 0.6rem;
  font-size: 1.6rem;
  color: rgba(0, 0, 0, 0.65);
  transition: all 0.3s;
  vertical-align: middle;
  margin-bottom: 0.5rem;
  /* white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; */
}

@media all and (min-width: 375px) and (max-width: 460px) {
  .list-theme {
    font-size: 0.9rem;
    font-weight: 800;
  }
}

@media all and (min-width: 460px) and (max-width: 576px) {
  .list-theme {
    font-size: 1.4rem;
    font-weight: 800;
  }
}

@media all and (min-width: 576px) and (max-width: 768px) {
  .list-theme {
    font-size: 1.2rem;
  }
}

@media all and (min-width: 992px) and (max-width: 1200px) {
  .list-theme {
    font-size: 1.4rem;
  }
}

.top-list-item {
  /* margin-top: -1.6rem; */
  /* margin-bottom: 1.2rem; */
}

@media all and (min-width: 375px) and (max-width: 576px) {
  .top-list-item {
    margin-bottom: 1rem;
  }
}

@media all and (min-width: 992px) and (max-width: 1200px) {
  .top-list-item {
    margin-bottom: -0.5rem;
  }
}

.list-right .list-text {
  color: #888;
  font-size: 1rem;
  line-height: 1rem;
  overflow: hidden;
  margin-bottom: 0;
  /* margin-top: .3rem; */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media all and (max-width: 375px) {
  .list-right .list-text {
    font-size: 0.7rem;
    color: #b7b8ba;
    width: 8rem;
  }
}

@media all and (min-width: 376px) and (max-width: 576px) {
  .list-right .list-text {
    font-size: 0.8rem;
    color: #b7b8ba;
    width: 10rem;
  }
}

@media all and (min-width: 577px) and (max-width: 768px) {
  .list-right .list-text {
    font-size: 1rem;
    color: #b7b8ba;
    width: 16.8rem;
  }
}

@media all and (min-width: 769px) and (max-width: 1200px) {
  .list-right .list-text {
    font-size: 1rem;
    color: #b7b8ba;
    width: 18rem;
  }
}

@media all and (min-width: 1201px) {
  .list-right .list-text {
    font-size: 1rem;
    color: #b7b8ba;
    width: 26rem;
  }
}

.middle-list-item > .ant-tag {
  margin-bottom: 0.5rem;
}

.middle-list-item {
  margin-left: 1%;
  margin-top: 0.5rem;
  margin-bottom: 0.3rem;
}

.bottom-list-item ul {
  display: flex;
  /* margin-bottom: -1rem; */
  margin-top: 1.2rem;
  margin-left: 1%;
}

@media all and (min-width: 992px) and (max-width: 1200px) {
  .bottom-list-item ul {
    margin-top: 0.6rem;
  }
}

.bottom-list-item ul li {
  /* border-right: 0.15rem solid #eee; */
  /* margin-right: 1.4rem;
  padding-right: 1.5rem; */
  /* margin: 0 .5rem; */
  position: relative;
  display: inline-block;
  padding: 0 0.5rem;
  color: rgba(0, 0, 0, 0.45);
  font-size: 0.8rem;
  line-height: 1.2rem;
  text-align: center;
  cursor: pointer;
}

.ant-menu-horizontal > .ant-menu-item a {
  text-align: center !important;
  margin-right: 0.3rem;
}

.bottom-list-item ul li:nth-child(1) {
  padding-left: 0;
}

.bottom-list-item ul li span {
  /* 删除默认样式0.5rem */
  margin-left: 0 !important;
}

.bottom-list-item ul li span {
  padding-right: 0.3rem;
}

.divider-style {
  width: 2px;
  height: 14px;
  font-weight: 600;
  color: "#e8e8e8";
}
